<h1> Edit a Url </h1>

<form method="put" action="/urls/<%= @url.id %>">
  Enter Url: <input type="text" name="url" value="<%= @url.link %>" ></br>
  <input type="submit" value="Update Url Hash_Code">
</form>
</br>
<!-- <a href="/urls/new">Create Hash Code</a> -->
<!-- </br> -->
<a href="/">Home</a>