<h1> Add a Url </h1>

<form method="post" action="/urls">
  Enter Url: <input type="text" name="url" placeholder="< url >" ></br>
  <input type="submit" value="Create Hash_Code">
</form>
</br>
<!-- <a href="/urls/new">Create Hash Code</a> -->
<!-- </br> -->
<a href="/">Home</a>